/*------------------------------------*
    global box-sizing
*------------------------------------*/

*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
    font-size:62.5%;
    }
body {
    background: #e6e7e9;
}
/*------------------------------------*
    Comunes
*------------------------------------*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a:hover {
    transition: .3s ease-in-out 0s;
}
.wrapper {
    max-width: 100%;
	margin: 2.2rem auto;
}
@media only screen and (min-width:768px) {
    .wrapper {
        width: 100rem;
    	margin: 2.2rem auto;
    }
}
/*------------------------------------*
    Header
*------------------------------------*/
header {
	width: 100%;
    width: 100%;
    height: auto;
	background-color: #4b4b4d;
	padding: 3rem 2.8rem;
}
@media only screen and (min-width:768px) {
    header {
        height: 11.8rem;
    }
}
header .contenedor {
	display: flex;
	justify-content: space-between;
    flex-direction: column;
	height: auto;
	align-items: center;
}
@media only screen and (min-width:768px) {
    header .contenedor {
    	flex-direction: row;
    }
}
/* logo*/
.logo {
	background: #d2d3d5;
	height: 6rem;
	width: 20rem;
    margin-bottom: 3rem;
}
@media only screen and (min-width:768px) {
    .logo {
        margin-bottom: 0rem;
    }
}
.logo a {
    height: 7rem;
    width: 23rem;
    display: block;
}
/* redes sociales */
.redes-sociales ul {
    display: flex;
    flex-direction: row;
}
.redes-sociales ul li {
	margin: 0 0 0 1rem;
}
.redes-sociales ul li a {
    display: inline-block;
    background: #d2d3d5;
    width: 4.3rem;
	height: 4.3rem;
	border-radius: 50%;
}
.redes-sociales ul li a:hover {
    background-color: #fff;
}
/*------------------------------------*
    Navegador
*------------------------------------*/

nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media only screen and (min-width:768px) {
    nav ul {
        flex-direction: row;
    }
}
nav ul li {
	flex: 1 0 auto;
	margin: 0 0 1rem 0;
}
@media only screen and (min-width:768px) {
    nav ul li {
    	margin: 0 0 0 .7rem;
    }
}
nav ul li:first-child {
    margin: 0 0 1rem 0;
}
@media only screen and (min-width:768px) {
    nav ul li:first-child {
    	margin: 0
    }
}

nav ul li a {
	background-color: #97989a;
	height: 5.3rem;
    display: block;
}
nav ul li a:hover {
	background-color: #fff;
}
/*------------------------------------*
    CTA
*------------------------------------*/

.cta .contenedor {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 24rem;
}
@media only screen and (min-width:768px) {
    .cta .contenedor {
        flex-direction: row;
    }
}
.cta .contenedor div {
	background-color: #858688;
	flex: 0 0 calc( 33% - 1rem );
	min-height: 28rem;
	margin-bottom: 2rem;
}
@media only screen and (min-width:768px) {
    .cta .contenedor > div {
        background-color: #858688;
        flex: 0 0 calc( 33% - 1rem );
        height: 24rem;
    }
}
/*------------------------------------*
    Main
*------------------------------------*/
main {
	background: #4b4b4d;
	min-height: 54rem;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
}
@media only screen and (min-width:768px) {
    main {
        flex-direction: row;
    }
}

main aside {
    flex: 0 0 20%;
    background-color: #858688;
    min-height: 20rem;
}
main section {
    background-color: #858688;

}
/*------------------------------------*
    Footer
*------------------------------------*/
footer {
    background-color: #4b4b4d;
    height: 6.9rem;;
}
